body{
    margin: 0px;
    padding: 0px;
    margin-top: 170px;
    margin-bottom: 0%;
}

header{
    background-color: #ce1b1b;
    font-size: 20px;
    color: black;
    font-family: cursive;
    position: fixed;
    width: 100%;
    margin-top: 0px;
    margin-right: 10px;
    top: 0px;
    z-index: auto;
    flex-wrap: wrap;
}

.description{
    background-color: #f44848;
    font-size: 200%;
    margin-left: 5%;
    margin-right: 18%;
    font-family: cursive;
    padding-top: 1%;
    border:none;
    padding : 2%;
    border-radius : 50px;
}

#competences:hover{
    
}

h2{
    font-size: 80%;
    color: #ffffff;
    -webkit-text-stroke: 1px black;
}

h1{
    font-size: 200%;
    color: #f44848;
    -webkit-text-stroke: 1px black;
}

.offre{
    border-radius: 53px;
    background: linear-gradient(145deg, #ffa9a9, #e68e8e);
    box-shadow:  35px 35px 70px #663f3f,-35px -35px 70px #fffdfd;
    font-family: cursive;
    margin: 5%;
    height: 50%;
    width: 20%;
    border: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 150%;
}

.offre a{
    color: #fffdfd;
}

.box2{
    flex-direction: row-reverse;
    justify-content: space-around;
}

.boxoffre{
    display: flex;
    justify-content: space-between;
}

header a{
    color: black;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 0px;
}

header img{
    height: 30px;
    width: 30px;
    margin-top: 0px;
}

header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

p{
    font-size: x-large;
}

.box1 img{
    width: 10%;
    height: 8%;
}

li{
    list-style:none;
    color:rgb(222, 21, 21);
    padding:15px;
    font-size:20px;
    text-decoration:none;
}
     
nav ul{
    background-color:#ce1b1b;
    padding:0;
    margin:0;
}
     
nav ul li{
    list-style: none;
    line-height:44px;
    float:left;
    background-color:#ce1b1b;
}
     
nav ul li a{
    color:rgb(0, 0, 0);
    padding:10px;
    font-size:20px;
    text-decoration:none;
}
     
li a:hover{
    border-bottom:3px rgb(0, 0, 0) solid;
}
    
nav ul li ul{ 
    display:none;
} 
     
nav ul li:hover ul{
    z-index:99999;
    display:list-item;
    position:absolute;
    margin-top:10px;
    margin-left:-10px;
}
     
nav ul li:hover ul li{
    float:none;
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    position: relative;
    bottom: 0;
    background-color: #f44848;
    margin-bottom: 0%;
    z-index: auto;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    font-family: cursive;
    margin-left: 0%;
}

footer a{
    color: #ffffff;
    text-underline-offset:unset;
    text-decoration: none;
}

#container{
    display: flex;
    box-sizing: 0%;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 0%;
    margin-left: 0%;
}

#container div.box1 img{
    width: 55%;
    height: 50%;
    margin-top: 5%;
    margin-top: 15%;
}

#container div.box6{
    margin-top: 2%;
}

#container div.box7{
    margin-top: 2%;
}

#container div.box1{
    flex-basis: 15%;
}

#contain{
    /* display: flex; */
}

#contain img{
    height: 100%;
    width: 100%;
}

.horloge{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-shadow: 0 2px 50px rgb(10,10,10,0.5);
}

.heure{
    width: 500px;
    font-size: 100px;
    font-weight: 700;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(10, 10, 10, 0.2);
}

