body{
    margin: 0px;
    padding: 0px;
    margin-top: 170px;
    margin-bottom: 0%;
}

header{
    background-color: #ce1b1b;
    font-size: 20px;
    color: black;
    font-family: cursive;
    position: fixed;
    width: 100%;
    margin-top: 0px;
    margin-right: 10px;
    top: 0px;
    z-index: auto;
    flex-wrap: wrap;
}

.box2{
    flex-direction: row-reverse;
    justify-content: space-around;
}

header a{
    color: black;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 0px;
}

header img{
    height: 30px;
    width: 30px;
    margin-top: 0px;
}

header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

p{
    font-size: x-large;
}

.box1 img{
    width: 10%;
    height: 8%;
}

li{
    list-style:none !important;
    color:rgb(222, 21, 21);
    padding:15px;
    font-size:20px;
    text-decoration:none;
}
     
nav ul{
    background-color:#ce1b1b;
    padding:0;
    margin:0;
}
     
nav ul li{
    list-style: none;
    line-height:44px;
    float:left;
    background-color:#ce1b1b;
}
     
nav ul li a{
    color:rgb(0, 0, 0);
    padding:10px;
    font-size:20px;
    text-decoration:none;
}
     
li a:hover{
    border-bottom:3px rgb(0, 0, 0) solid;
}
    
nav ul li ul{ 
    display:none;
} 
     
nav ul li:hover ul{
    z-index:99999;
    display:list-item !important;
    position:absolute;
    margin-top:10px;
    margin-left:-10px;
}
     
nav ul li:hover ul li{
    float:none;
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    position: relative;
    bottom: 0;
    background-color: #f44848;
    margin-bottom: 0%;
    z-index: auto;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    font-family: cursive;
    margin-left: 0%;
}

footer a{
    color: #ffffff;
    text-underline-offset:unset;
    text-decoration: none;
}

#container{
    display: flex;
    box-sizing: 0%;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 0%;
    margin-left: 0%;
}

#container div.box1 img{
    width: 55%;
    height: 50%;
    margin-top: 5%;
    margin-top: 15%;
}

#container div.box6{
    margin-top: 2%;
}

#container div.box7{
    margin-top: 2%;
}

#container div.box1{
    flex-basis: 15%;
}

#contain{
    /* display: flex; */
    text-align: center;
}

#contain img{
    height: 100%;
    width: 100%;
}

#subscription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.sub {
    color:grey;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #CC6666;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }

    .sub:focus { border:2px solid #CC4949; }

    textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
    }

#subscription h1{
    color: #ce1b1b;
}

#subscription p{
    color: #ce1b1b;
    text-align: center;
    font-family: cursive;
}

#subscription .signupbtn {
    color: black;
}


[type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:#CC6666;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:grey;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  [type="submit"]:hover { background:#CC4949; }


  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
  line-height: 1.5;
  font-family: cursive;
}
